* {box-sizing: border-box; }

body {
    background-color: #1c1c1c;
    color: #f2f2f2;
}

#mission-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.asset-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid #555;
    box-sizing: border-box;
    min-height: 160px;
    position: relative;
}

.asset-status {
    margin-top: auto;
}

.asset-card::after {
    content: "Buka Arsip Proyek";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
}

.asset-card:hover::after { opacity: 1; }

#priority-alpha {
    border: 2px solid #00FFFF; 
}

.asset-card:hover { 
    border: 2px  solid #FF00FF; 
}

#priority-alpha:hover { 
    border: 2px solid #FF00FF; 
}